@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.reverse-carousel .react-multi-carousel-list {
  flex-direction: row-reverse;
}

/* .reverse-carousel .react-multi-carousel-item {
  transform: rotateY(180deg);
} */

/* .reverse-carousel .react-multi-carousel-track {
  transform: rotateY(180deg);
}  */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

 
 
